<div class="col-md-6 offset-md3">
    <div class="card-header">
        <h1>Usuarios CEDETEC</h1>
    </div>
    <div class="card-body">
        {{#if users}}
            <ul>
                {{#each users}} <!-- Recorrer los usuarios (Recorrer cada una de las colecciones-->
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        {{@key}} /
                        {{firstName}}
                        {{lastName}} /
                        {{location}}
                        <form action="/get_route/{{@key}}" method="POST"><button type="text" name="location" value="{{location}}" class="btn btn-primary">GET ROUTE</button></form>
                        <a href="/delete-user/{{@key}}" class="btn btn-danger">DELETE</a>
                    </li>
                {{/each}}
            </ul>
        {{else}}
        <p>No users yet</p>
        {{/if}}
    </div>
    <div class="card-footer">
        <form action="/new-user" method="POST">
            <div class="form-group">
                <input type="text" name="firstName" placeholder="First Name" class="form-control" autofocus>
            </div>
            <div class="form-group">
                <input type="text" name="lastName" placeholder="Last Name" class="form-control" autofocus>
            </div>
            <div class="form-group">
                <input type="text" name="location" placeholder="Location" class="form-control" autofocus>
            </div>
            <button class="btn btn-primary btn-block">Add</button>
        </form>
    </div>
</div>